*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}









/*Navbar*/
.navbar{
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgba(0,0,0,0.5);
    position:sticky;
    top:0;

}

.navbar ul{
    display:flex;
    list-style:none;
    margin:20px 0px;



}

.navbar ul li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.1 rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration:none;
    color:white;
    padding: 8px 25px;
    transition:all .5s ease;

}

.navbar ul li a:hover{
    background-color: white;
    color:black;
    box-shadow:0 0 10px white;

}

/*navbar ends*/
/*Home Section*/

 /* #home{
    display:flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    height:840px;
    justify-content:center;
    align-items:center;
    color:black;
}

#home::before{
    content:"";
    position:absolute;
    top:0;
    right:0;
    /* background: url('images/whitehome.jpg') no-repeat center center/cover; */
    /* height:900px;
    width: 100%;
    z-index:-1;
    opacity: .8; */



/*first image settings**/
 /* .img1{
   
    height:300px;
    width:200px;
    margin-right:820px;
    border-radius:1rem; ;
    
} */

/* .head1{
    margin-left:-140px;
    margin-top: -190px;
    font-size:2rem;
}


#sugar{
    font-family: cursive;
    color:aquamarine
}  */

/*first image settings ends*/
 /* .main{
    display:flex;
    flex-direction: column;
    /* border:1px solid black; */
    /* align-items:center;
    position:absolute;
    top:30%;
    right:10%;



}  */

/* .headings{
    font-family: 'Courier New', Courier, monospace;
    font-size:3rem;
    text-align:center;
    margin:40px 0px;


} */

/* .btn{
    padding:10px 35px;
    background-color: blue;
    border:1px solid black;
    color:black;
    outline: none;
    transition:.6s ease;




} 
/* */
/* .btn:hover{
    cursor:pointer;
    background-color: black;
    color: white;
    box-shadow: 0 0 5px black,0 0 10px black, 0 0 15px black;
    font-weight:bold;

} */ 

/*About Section*/
 /* #about{
    display:flex;
    flex-direction:column;
     box-sizing: border-box;
    padding:20px;
    margin-bottom: 50px; } */




 /* #pic{
    display:flex;


}
#pic img{
    width:575px;
    height:400px;


}  */

/* My own port intro section*********************** */

.btn{
    display:inline-block;
    padding: .5em  2.5em;
    background:var(--clr-accent);
    color:var(--clr-dark);
    text-decoration: none;
    cursor:pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight:var(--fw-bold);
    transition:transform 200ms ease-in-out;
}
.btn:hover{
    transform:scale(1.1);
}
/* Typography*/

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}





.section__title{
    margin-bottom: .25em;
  }
  
  
  .section__title--intro{
      font-weight: var(--fw-reg);
  
  }
  
  
  .section__title--intro strong{
      display:block;
  }
  
  
  
  .section__subtitle{
  
     margin:0;
     font-size:var(--fs-h3);
  
  }
  
  /* .section__subtitle--intro,
  .section__subtitle--about{
      background: var(--clr-accent);
      font-family:var(--ff-secondary);
      padding: .25em 1em;
      margin-bottom:1em;
  } */
  
  




/* ends here */
.about-me{
    max-width:1000px;
    margin:0 auto;
}

.about-me__img{
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
    0.125em 0.125em 0.25em rgba(0,0,0,.15)
}

@media(min-width:600px){

.about-me{
    display:grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
    "title img"
    "subtitle img"
    "text img";

    grid-column-gap:2em;
}

.section__title--about
{
    grid-area:title;
}


.section__subtitle--about{
    grid-column: 1/-1;
    grid-row: 2;
    position:relative;
    left: -1em;
    width:calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em); /*so text will not go under image*/

}


.about-me__img{
   grid-area:img;
   position:relative;
   z-index: 2;
}

}


html{
    scroll-behavior: smooth; 
 }

 section{
    padding: 5em 2em;
}

img{
    display:block;
    max-width:100%;
}

strong {font-weight: 900}

:focus{
    outline:3px solid #16e0bd;
    outline-offset: 3px;
}

.section__title{
    margin-bottom: .25em;
  }

  .section__subtitle{

    margin:0;
    font-size:1.5rem;
 
 }
 
 .section__subtitle--intro,
 .section__subtitle--about{
     background: #16e0bd;
     font-family:'Times New Roman', Times, serif;
     padding: .25em 1em;
     margin-bottom:1em;
 }
 
 
 /*Work Area*/
 .my-work{
    background-color: #303030;;
    color:#fff;
    text-align: center;

}


.portfolio{

   display:grid;
      grid-template-columns:repeat(auto-fit, minmax(300px,1fr)) ; /*automatically make three columns*/
      /* max-width:;
      margin:0 auto;  only if we give max-width*/
}

/*hover effect*/

.portfolio__item{
       background:#16e0bd;   
    overflow: hidden;
}

.portfolio__img{
    transition:transform 750ms cubic-bezier(.5,0,.5,1),
                    opacity 250ms linear;

}




.portfolio__item:focus{
    position:relative;
    z-index:2;
}



.portfolio__img:hover,
.portfolio__item:focus .portfolio__img
{
    transform:scale(1.2);
    opacity: .75;
    
}
.portfolio__item{
    position: relative;
}  
.centered{
    position: absolute;
    color:black;
    font-weight:bolder;
    font-size: 1.5rem;
    top: 50%;
    left:30%;
}    




/* Individual portfolio item styles*/


.portfolio-item-individual{

    padding:0 2em 2em;
    max-width:1000px;
    margin:0 auto;

}

.portfolio-item-individual p{
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
}

 .res-links a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--clr-accent);
    cursor:pointer;
}

.edit{
    border: 1px solid white;

}


.logo > .edit{
    width:35px;
    height:35px;
    border-radius: 50%;
}

/* ********* Contact***********************

.contact-left{
   flex-basis: 35%; 
}

.contact-right{
    flex-basis:60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color:#ff004f;
    margin-right:15px;
    font-size:25px;


}

.social-icons{
    margin-top:30px;
}

.social-icons a{
    text-decoration:none;
    font-size:30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition:transform 0.5s ;

}

.social-icons a:hover{
    color:#ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
}

.contact-right form{
   width:100%;

}

form input, form textarea{
    width: 100%;
    border:0;
    outline: none;
    background: #262626;
    padding:15px;
    margin:15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;


}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor:pointer;
} */

/**footer**/
.footer{
    background:#111; /*its not pure black*/
    color:#16e0bd;
    text-align:center;
    padding:2.5em 0;
    font-size: 1.25rem;
    }
    
    .footer a{
         color: inherit;
         text-decoration: none;
        }
    
    
    .footer__link{
        
        font-weight: 900;
    
    }
    
    
    
    .footer__link:hover,
    .social-list__link:hover{
        opacity:.7;
    }
    
    .footer__link:hover{
        text-decoration: underline;
    }
    
    
    .social-list{
        list-style: none;
        display:flex;
        justify-content: center;
        margin:2em  0 0;
        padding:0;
    
    }
    
    .social-list__item{
        margin:0 .5em;
    }
    
    .social-list__link{
        padding: .5em;
    }